HF_API_KEY=<your_api_key>
WANDB_API_KEY=<your_api_key>
RUNPOD_HOST=<pod_public_ip>
RUNPOD_PORT=<exposed_tcp_22_port>
RUNPOD_USER=root
RUNPOD_SSH_KEY=~/.ssh/id_ed25519
QAI_HUB_API_TOKEN=<qualcomm_ai_hub_api_token>
